@import "tailwindcss";

@theme {
  --color-lexa-50: #f5f0fa; /* very light purple */
  --color-lexa-100: #e6dff5;
  --color-lexa-200: #d1bdf0;
  --color-lexa-300: #b998eb;
  --color-lexa-400: #a176e6;
  --color-lexa-500: #874fe0; /* mid purple */
  --color-lexa-600: #6c39b3;
  --color-lexa-700: #502885;
  --color-lexa-800: #7a6fbe;
  --color-lexa-900: #2d3447; /* very dark purple */
  --color-lexa-950: #2a3142; /* almost black-purple */
}

button {
  @apply cursor-pointer focus:outline-none focus:ring-0;
}
